  body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: #ddd;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
  }
  
  .square:focus {
    outline: none;
  }

  .square img {
    width: 100%;
    height: 100%;
  }

  .game-board {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 504px;
    height: 504px;
  }

  img[owner="2"] {
    filter: brightness(0);
  }

  .colored {
    background-color: #cc6600;
  } 

  .selected {
    background-color: red;
  }

  button {
    color: black;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  